<div ng-controller="HomeController" class="cuerpo">
    <h1>{{ title}}</h1>
    <h2>{{ text}}</h2>

    <h3>Formulario</h3>
    <form name="formulario">
        <div class="campos">
            <label for="id">ID</label><br>
            <input type="text" name="id" value="" ng-model="ciclo.pkId" disabled>
        </div>

        <div class="campos">
            <label for="nombre">Nombre</label><br>
            <input type="text" name="nombre" value="" ng-model="ciclo.nombre" 
                   ng-pattern="/^[a-zA-ZáéíóúÁÉÍÓÚñÑ\s]*$/" placeholder="Ingrese un nombre..." required>
            <!-- ng-if: $touched valida si el campo es tocado -->
            <div ng-messages="formulario.nombre.$error" ng-if="formulario.nombre.$touched">
                <p ng-message="required"><span>Este campo es requerido</span></p>
                <p ng-message="pattern"><span>Este campo solo es de texto</span></p>
            </div>
        </div>

        <div class="campos">
            <label for="abreviatura">Abreviatura</label><br>
            <input type="text" name="abreviatura" value="" ng-model="ciclo.abreviatura"
                   ng-pattern="/^[a-zA-Z\s]*$/" placeholder="Ingrese una abreviatura..." required>
            <div ng-messages="formulario.abreviatura.$error" ng-if="formulario.abreviatura.$touched">
                <p ng-message="required"><span>Este campo es requerido</span></p>
                <p ng-message="pattern"><span>Este campo solo es de texto</span></p>
            </div>
        </div>
    </form>

    <div class="campos">
        <button type="button" ng-click="adicionarCiclo()">Adicionar</button>
        <button type="button" ng-click="consultarCiclos()">Consultar</button>
        <button type="button" ng-click="actualizarCiclo()">Actualizar</button>
    </div>

    <div ng-if="mostrarCiclos">
        <h2>Ciclos</h2>
        <div class="datos">
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Abreviatura</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="ciclo in ciclos">
                        <td><p>{{ ciclo.nombre}}</p></td>
                        <td><p>{{ ciclo.abreviatura}}</p></td>
                        <td class="campos">
                            <button type="button" ng-click="seleccionarCiclo(ciclo)">Editar</button>
                            <button type="button" ng-click="eliminarCiclo(ciclo)">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>